@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

// Animations
.arrow-spin {
    animation-duration: 300ms;
    animation-name: spinningArrow;
    animation-fill-mode: forwards;
}

@keyframes spinningArrow {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotateX(180deg);
    }
}

// Single Droid Page
.droid-info-hero-section {
    .gradient {
        .image-wrapper {
            max-width: 800px;
        }
    }

    .button-wrapper {
        // width: 100%;

        a {
            svg {
                max-width: 30px;
                max-height: 30px;
                height: 100%;
                width: 100%;
            }
        }
    }
}

// Accordion
.accordion-item {
    background-color: #fff;
    padding: 0 0 1.5rem;
    position: relative;

    .accordion-button {
        padding: 1rem 1.5rem;
        border: none;
        position: relative;
        background: #fff;
        color: #000;
        width: 100%;

        h3 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;

            span {
                transition: 0.3s ease-in-out;

                svg {
                    height: 1em;
                }
            }
        }
    }

    .content {
        border: 1px solid #fff;
        height: 100%;
        padding: 1rem 1.5rem;
    }
}

// Tabs
.tab-content {
    &__tabs {
        li {
            margin-right: 1rem;
        }
    }
}
